.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* .filtersWraper {
  display: flex;
  flex-direction: column;
  gap: 32px;
} */

/* .searchButton {
  border-radius: 200px;
  border: none;
  padding: 16px 48px;
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--button);
  transition: background-color 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.searchButton:hover {
  background-color: var(--button-hover);
} */
