/* .pageContainer {
} */

.link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  width: max-content;
  line-height: 1.2;
  color: var(--main);
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -26.5px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--button);
}

.navLink {
  display: flex;
  width: 206px;
  justify-content: space-between;
  margin-bottom: 24px;
}
