.containerCard {
  display: flex;
  gap: 24px;
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  padding: 24px;
}

.mainImage {
  border-radius: 10px;
  max-width: 292px;
  height: 320px;
  object-fit: cover;
}

.camperInfo {
  display: flex;
  flex-direction: column;
  width: 525px;
  gap: 24px;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.priceAndFavourite {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.favoriteBtn {
  display: flex;
  align-items: center;
  margin-left: 13px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.heart {
  width: 26px;
  height: 24px;
}

.activeHeart {
  fill: var(--button);
}

.containerRatingLocation {
  display: flex;
  gap: 16px;
}

.rateAndLocation {
  display: flex;
  gap: 4px;
  align-items: center;
}

.star {
  fill: var(--yellow);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 500px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text);
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.featuresItem {
  border-radius: 100px;
  padding: 12px 18px;
  width: max-content;
  background: var(--badges);
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureText {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}
