.containerCard {
  display: flex;
  gap: 24px;
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  padding: 24px;
}

.camperInfo {
  display: flex;
  flex-direction: column;
  width: 525px;
  gap: 24px;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.priceAndFavourite {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.heart {
  margin-left: 13px;
}

.containerRatingLocation {
  display: flex;
  gap: 16px;
}

.rateAndLocation {
  display: flex;
  gap: 4px;
  align-items: center;
}

.star {
  fill: var(--yellow);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 500px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text);
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.featuresItem {
  border-radius: 100px;
  padding: 12px 18px;
  width: max-content;
  /* padding: 0 18px; */
  /* height: 48px; */
  background: var(--badges);
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureText {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}

/* .button {
  display: inline-block;
  border-radius: 200px;
  padding: 16px 48px;
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--button);
  transition: background-color 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
  background-color: var(--button-hover);
} */
